---
import { DEFAULT_LANG } from "../i18n/utils";
---
<!doctype html>
<html lang={DEFAULT_LANG}>
  <head>
    <meta http-equiv="refresh" content={`0; url=/${DEFAULT_LANG}/`} />
    <script>window.location.href='/${DEFAULT_LANG}/';</script>
  </head>
  <body></body>
</html>
